<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.page.admin.mapper.SysUserMapper">
    <sql id="selectUserVo">
        select su.user_id,
               su.username,
               su.nickname,
               su.email,
               su.phone,
               su.gender,
               su.birthday,
               su.city_id,
               su.avatar,
               su.remark,
               su.`status`,
               su.create_time,
               su.create_by,
               su.update_by,
               su.update_time
        from sys_user su
                 left join sys_dept d on su.dept_id = d.dept_id
                 left join sys_user_role sur on su.user_id = sur.user_id
                 left join sys_role sr on sr.role_id = sur.role_id
    </sql>
    <!-- 获取用户列表-->
    <select id="selectUserList" resultType="com.page.admin.domain.vo.UserListVO"
            parameterType="com.page.admin.domain.dto.UserQueryDTO">
        select su.user_id,
        su.username,
        su.nickname,
        su.email,
        su.phone,
        su.gender,
        su.birthday,
        su.city_id,
        su.avatar,
        su.remark,
        su.`status`,
        su.create_time,
        su.create_by,
        su.update_by,
        su.update_time
        from sys_user su
        where su.is_deleted = '0'
        <if test="userQueryDto.username != null and !''.equals(userQueryDto.username) ">
            AND su.username like concat('%', #{userQueryDto.username}, '%')
        </if>
        <if test="userQueryDto.nickname != null and !''.equals(userQueryDto.nickname) ">
            AND su.nickname like concat('%', #{userQueryDto.nickname}, '%')
        </if>
        <if test="userQueryDto.phone != null and !''.equals(userQueryDto.phone) ">
            AND su.phone like concat('%', #{userQueryDto.phone}, '%')
        </if>
        <if test="userQueryDto.createDate != null and !''.equals(userQueryDto.createDate) ">
            AND DATE_FORMAT(su.create_time,'%Y-%m-%d') = SUBSTRING(#{userQueryDto.createDate}, 1, 10)
        </if>
        <if test="sort != null and !''.equals(sort) ">
            ORDER BY create_time DESC
        </if>
    </select>

    <!-- 添加用户-->
    <insert id="addUserInfo" parameterType="com.page.common.domain.entity.SysUser">
        insert into sys_user(user_id, username, `password`, nickname, email, phone, gender, birthday, city_id, avatar,
                             `status`, remark, is_deleted, create_by, create_time, update_by, update_time)
        values (#{userId}, #{username}, #{password}, #{nickname}, #{email}, #{phone}, #{gender},
                #{birthday}, #{cityId}, #{avatar}, #{status}, #{remark}, #{isDeleted}, #{createBy},
                #{createTime},
                #{updateBy},
                #{updateTime})
    </insert>

    <!-- 删除用户-->
    <update id="delUserInfo" parameterType="com.page.common.domain.entity.SysUser">
        update sys_user
        set is_deleted=#{isDeleted}
        where user_id = #{userId}
    </update>

    <!-- 修改用户信息-->
    <update id="updateUserInfo" parameterType="com.page.common.domain.entity.SysUser">
        update sys_user
        set username=#{username},
            nickname=#{nickname},
            email=#{email},
            phone=#{phone},
            gender=#{gender},
            birthday=#{birthday},
            city_id=#{cityId},
            avatar=#{avatar},
            remark=#{remark},
            `status`=#{status},
            update_by=#{updateBy},
            update_time=#{updateTime}
        where user_id = #{userId}
    </update>

    <!-- 查询用户-->
    <select id="selectUserInfoById" parameterType="string" resultType="Map">
        select username    as userName,
               nickname    as userNick,
               email       as userEmail,
               phone       as userPhone,
               gender      as userGender,
               birthday    as userBirthday,
               city_id     as userCity,
               avatar      as userAvatar,
               remark      as userRemark,
               create_time as createTime,
               update_time as updateTime
        from sys_user
        where user_id = #{userId}
    </select>

    <select id="selectUserByUsername" parameterType="String" resultType="com.page.admin.domain.vo.UserListVO">
        select *
        from sys_user
        where username = #{username}
    </select>
</mapper>