<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.page.admin.mapper.UserMapper">
    <!-- 获取用户列表-->
    <select id="selectUserList" resultType="com.page.admin.domain.vo.UserListVo">
        select user_id,
               username,
               nickname,
               email,
               phone,
               gender,
               birthday,
               city_id,
               avatar,
               remarks,
               create_time,
               create_by
        from sys_user
        where is_deleted = '0'
    </select>

    <!-- 添加用户-->
    <insert id="addUserInfo" parameterType="com.page.admin.domain.User">
        insert into sys_user(user_id, username, password, nickname, email, phone, gender, birthday, city_id, avatar,
                             remarks, is_deleted, create_time, update_time)
        values (#{userId}, #{username}, #{password}, #{userNick}, #{userEmail}, #{userPhone}, #{userGender},
                #{userBirthday}, #{userCity}, #{userAvatar}, #{userMarks}, #{isDeleted}, #{createTime}, #{updateTime})
    </insert>

    <!-- 删除用户-->
    <update id="delUserInfo" parameterType="com.page.admin.domain.User">
        update sys_user
        set is_deleted=#{is_deleted}
        where user_id = #{userId}
    </update>

    <!-- 修改用户信息-->
    <update id="updateUserInfo" parameterType="com.page.admin.domain.User">
        update sys_user
        set username=#{userName},
            nickname=#{userNick},
            email=#{userEmail},
            phone=#{userPhone},
            gender=#{userGender},
            birthday=#{userBirthday},
            city_id=#{userCity},
            avatar=#{userAvatar},
            remarks=#{userMarks},
            update_time=#{updateTime}
        where user_id = #{userId}
    </update>

    <!-- 查询用户-->
    <select id="selectUserInfoById" parameterType="string" resultType="Map">
        select username    as userName,
               nickname    as userNick,
               email       as userEmail,
               phone       as userPhone,
               gender      as userGender,
               birthday    as userBirthday,
               city_id     as userCity,
               avatar      as userAvatar,
               remarks       as userMarks,
               create_time as createTime,
               update_time as updateTime
        from sys_user
        where user_id = #{userId}
    </select>
</mapper>