<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jias.page.mapper.UserMapper" >
<!-- 获取用户列表-->
    <select id="selectUserList" resultType="User">
        select user_id as userId, user_name as userName, user_nick as userNick, user_email as userEmail, user_phone as userPhone,
            user_gender as userGender, user_birthday as userBirthday, user_city as userCity, user_avatar as userAvatar,
            user_marks as userMarks, is_deleted as isDeleted, create_time as createTime, update_time as updateTime
            from page_users where is_deleted='0'
    </select>

<!-- 添加用户-->
    <insert id="addUserInfo" parameterType="User">
        insert into page_users(user_id, user_name, user_password, user_nick, user_email, user_phone, user_gender, user_birthday, user_city, user_avatar, user_marks, is_deleted, create_time, update_time) values(#{userId}, #{userName}, #{userPassword}, #{userNick}, #{userEmail}, #{userPhone}, #{userGender}, #{userBirthday}, #{userCity}, #{userAvatar}, #{userMarks}, #{isDeleted}, #{createTime}, #{updateTime})
    </insert>

<!-- 删除用户-->
    <update id="delUserInfo" parameterType="User">
        update page_users set is_deleted=#{is_deleted} where user_id = #{userId}
    </update>

<!-- 修改用户信息-->
    <update id="updateUserInfo" parameterType="User">
        update page_users set user_name=#{userName}, user_nick=#{userNick}, user_email=#{userEmail}, user_phone=#{userPhone}, user_gender=#{userGender}, user_birthday=#{userBirthday}, user_city=#{userCity}, user_avatar=#{userAvatar}, user_marks=#{userMarks}, update_time=#{updateTime} where user_id = #{userId}
    </update>

<!-- 查询用户-->
    <select id="selectUserInfoById" parameterType="string" resultType="Map" >
        select user_name as userName, user_nick as userNick, user_email as userEmail, user_phone as userPhone,
            user_gender as userGender, user_birthday as userBirthday, user_city as userCity, user_avatar as userAvatar,
            user_marks as userMarks, create_time as createTime, update_time as updateTime
            from page_users where user_id = #{userId}
    </select>
</mapper>